<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="4" class="ion-text-center">
      <ion-button routerLink="/pagina1">Pagina 1</ion-button>
    </ion-col>
  </ion-row>
  
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="4" class="ion-text-center">
      <ion-button routerLink="/pagina2">Pagina 2</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="4" class="ion-text-center">
      <ion-button routerLink="/pagina3">Pagina 3</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="4" class="ion-text-center">
      <ion-button routerLink="/pagina4">Pagina 4</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
