<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-lg="4" id="main">
      <ion-row class="ion-justify-content-end">
        <ion-input value={{this.resultado}}></ion-input>
      </ion-row>
      <ion-col class="ion-justify-content-center">
        <ion-row>
          <ion-button size="large">C</ion-button>
          <ion-button size="large">CE</ion-button>
          <ion-button size="large">P</ion-button>
          <ion-button size="large">/</ion-button>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-button size="large" (click)="this.select_number()">7</ion-button>
          <ion-button size="large">8</ion-button>
          <ion-button size="large">9</ion-button>
          <ion-button size="large">*</ion-button>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-button size="large">4</ion-button>
          <ion-button size="large">5</ion-button>
          <ion-button size="large">6</ion-button>
          <ion-button size="large">+</ion-button>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-button size="large">1</ion-button>
          <ion-button size="large">2</ion-button>
          <ion-button size="large">3</ion-button>
          <ion-button size="large">-</ion-button>
        </ion-row>
      </ion-col>
        <ion-col>
        <ion-row>
          <ion-button size="large">+/-</ion-button>
          <ion-button size="large">0</ion-button>
          <ion-button size="large">,</ion-button>
          <ion-button size="large">=</ion-button>
        </ion-row>
      </ion-col>
    </ion-col>
  </ion-row>
</ion-content>
