#main{
  background: url(https://images7.alphacoders.com/719/719180.jpg) no-repeat center center;
  background-size: 100% 100%;
  margin: 20px;
}

ion-content{
  --background: #e2e2e2
}

.ion-justify-content-end {
  background: rgb(3, 80, 104);
}

ion-content {
  margin: 30px;
}

ion-label {
  font-size: 50px;
}

ion-button{
  --background: rgb(126, 2, 2);
}

ion-toolbar{
  --background: rgb(131,23,7);
  --background: linear-gradient(90deg, rgba(131,23,7,1) 47%, rgba(255,239,0,1) 99%);
}